/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Kurale', serif;
  background-color: #e4e4e4;
  color: #1f2937;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #f3f0f0;
  border-bottom: 1px solid #e5e5e5;
}

/* LOGO */
header img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}

/* MENU */
.menu {
  display: flex;
  align-items: center;
  gap: 75px;
}

.menu h1 {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.menu h1:hover {
  color: #2f8f7a;
  transform: translateY(-2px);
}

/* EN BUTTON */
.menu .lang {
  padding: 6px 16px;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  font-size: 15px;
  background-color: #fff;
}

.menu .lang:hover {
  background-color: #2f8f7a;
  color: #fff;
  border-color: #2f8f7a;
}

/* GRID */
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  width: 100%;
}

/* GRID AREAS */
.div1 {
  grid-area: 1 / 1 / 3 / 3;
  padding: 40px;
}

.div1 h1 {
  margin: 0;
}

.div2 {
  grid-area: 3 / 1 / 4 / 6;
}

.div2 img {
  display: block;
  width: 100%;
  margin: 0;
}

.div3 {
  grid-area: 4 / 1 / 6 / 6;
}

.div4 {
  grid-area: 4 / 2 / 5 / 5;
}

.div5 {
  grid-area: 5 / 5 / 6 / 6;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.div5 img {
  width: 70px;
  border-radius: 35px;
}
